@font-face {
  font-family: "biorhyme";
  src: url(../Assets/biorhyme/BioRhyme-Regular.ttf);
}

@font-face {
  font-family: "biorhyme-light";
  src: url(../Assets//biorhyme/BioRhyme-Light.ttf);
}

@font-face {
  font-family: "biorhyme-bold";
  src: url(../Assets/biorhyme/BioRhyme-Bold.ttf);
}

@font-face {
  font-family: "biorhyme-extrabold";
  src: url(../Assets/biorhyme/BioRhyme-ExtraBold.ttf);
}

@font-face {
  font-family: "biorhyme-extralight";
  src: url(../Assets/biorhyme/BioRhyme-ExtraLight.ttf);
}

@font-face {
  font-family: "firacode";
  src: url(../Assets/biorhyme/FiraCode-Medium.ttf);
}

@font-face {
  font-family: "jost-m";
  src: url(../Assets/fonts/Jost-Medium.ttf);
}

@font-face {
  font-family: "jost-r";
  src: url(../Assets/fonts/Jost-Regular.ttf);
}

@font-face {
  font-family: "jost-b";
  src: url(../Assets/fonts/Jost-Bold.ttf);
}

.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.navbar__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2%;
}

.navbar__socials--logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.navbar__hamburger {
  fill: white;
}

.navbar__hamburgernav {
  background-color: white;
  position: fixed;
  top: 41px;
  left: 0;
  height: 50vh;
  width: 100%;
  text-align: left;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 19.43% 20px;
  margin: 0;
  font-family: "jost-m";
}

.navbar__hamburgernav--item {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.navbar__navs {
  display: none;
  color: white;
}

@media only screen and (min-width: 768px) {
  .navbar {
    background-color: black;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__socials--logo {
    height: 31px;
    width: 31px;
  }
  .navbar__navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    font-family: "jost-m";
    margin-right: 2%;
  }
  .navbar__navs--item {
    margin-left: 2rem;
    color: white;
    font-size: 1rem;
  }
  .navbar__navs--item:hover {
    color: violet;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar__socials--logo {
    height: 50px;
    width: 50px;
  }
  .navbar__navs--item {
    margin-left: 2rem;
    font-size: 25px;
  }
}

.intro {
  font-family: "firacode";
  background-color: black;
  height: 100vh;
  font-size: 19px;
  color: white;
}

.intro__context {
  padding: 80px 25% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__context--title {
  margin: 14px 0;
  font-size: 16px;
}

.intro__context--content {
  font-style: oblique;
  font-weight: bolder;
  color: #edb879;
  height: 6vh;
  margin-bottom: 25px;
}

.intro__toprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 70px;
  text-align: center;
  margin-left: 20%;
  cursor: pointer;
}

.intro__toprojectscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.intro__toprojects--arrow {
  height: 30px;
  width: 20px;
  margin-top: 18px;
  margin-left: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.intro__toprojects--text {
  text-decoration: none;
  font-size: 10px;
  margin-left: 1px;
  color: white;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.intro__toprojects--img {
  border-radius: 50%;
  width: 25vw;
}

.intro__img {
  display: none;
  border-radius: 50%;
  width: 20vw;
}

@media only screen and (min-width: 768px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    width: 100%;
  }
  .intro__context {
    padding: 170px 0 0 12%;
    font-size: 25px;
    width: 70%;
  }
  .intro__context--title {
    font-size: 1rem;
  }
  .intro__context--content {
    width: 80%;
    height: 8vh;
    font-size: 1.8rem;
  }
  .intro__toprojects {
    padding-top: 40vh;
    margin: 0;
  }
  .intro__toprojectscontainer {
    margin: 0;
  }
  .intro__toprojects--arrow {
    height: 60px;
    width: 40px;
    margin: 0;
    padding-bottom: 30px;
    margin-left: 27px;
    margin-top: 5px;
  }
  .intro__toprojects--text {
    margin-left: 1px;
    font-size: 18px;
  }
  .intro__toprojects--img {
    display: none;
  }
  .intro__img {
    display: inline;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh;
    width: 45%;
    border-radius: 0;
    opacity: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .intro__context {
    padding-top: 300px;
  }
  .intro__context--title {
    font-size: 2rem;
  }
  .intro__context--content {
    font-size: 2.8rem;
  }
  .intro__img {
    height: 100vh;
  }
  .intro__toprojects--arrow {
    height: 130px;
    width: 100px;
    margin-right: 5%;
    margin-top: 30px;
  }
  .intro__toprojects--text {
    font-size: 30px;
  }
}

.about {
  background-color: #f8f8f8;
  border-radius: 20px;
  color: #353535;
  padding-top: 10px;
}

.about__content {
  text-align: center;
  padding-top: 20px;
}

.about__content--mission {
  font-family: "jost-b";
  font-size: 2rem;
}

.about__content--missiontext {
  font-family: "jost-m";
  font-size: 1rem;
  padding: 10px 8%;
  height: auto;
}

.about__downloads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px 0 20px;
}

.about__coverletter--text, .about__resume--text {
  font-family: "jost-m";
  font-size: 12px;
}

.about__valuetitle {
  text-align: center;
  padding: 20px 0 0;
  font-family: "jost-b";
  font-size: 32px;
}

.about__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 10%;
}

.about__values--1, .about__values--2 {
  text-align: center;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 1vw;
}

.about__values--section {
  width: auto;
  margin-right: 0 !important;
  margin-bottom: 2vh;
}

.about__values--icon {
  height: 50px;
  width: 50px;
}

.about__values--value {
  text-align: center;
  font-family: "jost-m";
  padding-bottom: 30px;
}

.about__values--details {
  font-family: "jost-m";
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .about {
    padding-top: 10px;
    margin: 0 8%;
  }
  .about__content {
    padding: 40px 5% 20px;
  }
  .about__content--mission {
    font-size: 40px;
  }
  .about__content--missiontext {
    font-size: 20px;
    height: auto;
  }
  .about__downloads {
    width: auto;
    padding: 0 20%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  .about__coverletter, .about__resume {
    width: 15vw;
    height: 7vh;
  }
  .about__valuetitle {
    font-size: 32px;
    padding: 10px 0;
  }
  .about__values {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 30px 5% 0;
  }
  .about__values--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
  }
  .about__values--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
  }
  .about__values--section {
    width: 50%;
  }
  .about__values--details {
    font-size: 13px;
  }
  .about__values--icon {
    height: 80px;
    width: 80px;
  }
  .about__values--value {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .about__values--details {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .about__content {
    padding: 30px 5%;
  }
  .about__content--mission {
    font-size: 50px;
    padding-bottom: 20px;
  }
  .about__content--missiontext {
    font-size: 30px;
  }
  .about__valuetitle {
    font-size: 40px;
  }
  .about__values--icon {
    height: 140px;
    width: 140px;
  }
}

.techcontainer {
  background-color: #f8f8f8;
  height: 100vh;
  padding-top: 40px;
}

.techtitle {
  font-family: "jost-b";
  color: black;
  text-align: center;
  font-size: 32px;
}

.tech {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
}

.tech__pic {
  display: none;
}

.tech__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  font-family: "jost-m";
  color: #f7e9e9;
  width: 100%;
  padding: 10px 10%;
}

.tech__title {
  font-size: 18px;
  color: black;
  font-family: "jost-m";
}

.tech__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tech__logo {
  color: #f7e9e9;
}

.tech__frontend, .tech__backend, .tech__database, .tech__other {
  margin: 3vh 0;
}

.tech__logo:hover {
  text-decoration: underline;
  color: grey;
  font-weight: bold;
}

.tech__logo--logo {
  height: 50px;
  width: 50px;
  padding: 5px 1%;
}

.tech__logo--name {
  font-size: 10px;
  color: black;
}

@media only screen and (min-width: 768px) {
  .techtitle {
    font-size: 50px;
  }
  .tech {
    margin: 0 8%;
  }
  .tech__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    height: 80vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tech__content {
    padding: 0;
    height: 80vh;
  }
  .tech__logo--logo {
    height: 50px;
    width: 50px;
    padding: 1px 2%;
  }
  .tech__logo--name {
    font-size: 13px;
  }
  .tech__frontend, .tech__backend, .tech__database, .tech__other {
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .techtitle {
    font-size: 70px;
  }
  .tech__title {
    font-size: 36px;
  }
  .tech__logo--logo {
    height: 90px;
    width: 90px;
  }
}

.projectitle {
  color: #f7e9e9;
  text-align: center;
  font-family: "jost-b";
  font-size: 32px;
  margin-bottom: 50px;
  padding-top: 40px;
}

.project {
  text-align: center;
  background-color: black;
}

.project__card {
  height: 70vh;
}

.project__card--title {
  font-family: "jost-b";
  font-size: 20px;
  color: #f7e9e9;
}

.project__card--mainpic {
  width: 75%;
}

.project__card--mainpicphone {
  height: 50%;
  width: 40%;
}

.project__card--detailb, .project__card--demob {
  margin-top: 0.5rem;
  width: 60%;
}

.project__card--buttontext {
  color: white;
  text-decoration: none;
}

.project__modal--header {
  font-family: "jost-b";
}

.project__modal--techstack, .project__modal--github {
  font-family: "jost-m";
  color: black;
  border-top: 1px dashed black;
  text-decoration: none;
}

.project__modal--video {
  height: auto !important;
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .projectitle {
    font-size: 50px;
  }
  .project__card {
    height: 80vh;
  }
  .project__container {
    padding: 0 15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 10%;
    grid-row-gap: 6rem;
  }
  .project__card--mainpic {
    height: 18rem;
  }
  .project__card--button {
    width: 65%;
  }
  .project__card--detailb, .project__card--demob {
    margin-top: 0.5rem;
    width: 75%;
    height: 35px;
  }
  .project__card--title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .project__card--mainpic {
    height: 22rem;
  }
}

.contact {
  height: 80vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.contact__title {
  color: black;
  font-family: "jost-b";
  font-size: 32px;
  padding-bottom: 5vh;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "jost-b";
}

.contact__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form--emailinput, .contact__form--nameinput {
  margin-bottom: 10px;
}

.contact__divider {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__email--logo, .contact__phone--logo {
  width: 80px;
  height: 80px;
}

.contact__form--bodyinput {
  height: 100px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .contact {
    height: 75vh;
  }
  .contact__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 30px;
  }
  .contact__divider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-right: 10%;
    padding-bottom: 50px;
  }
  .contact__form {
    width: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact__form--emailinput, .contact__form--nameinput, .contact__form--bodyinput {
    width: 70%;
  }
  .contact__form--emailinput, .contact__form--nameinput {
    height: 50px;
  }
  .contact__form--bodyinput {
    height: 100px;
    margin-bottom: 30px;
  }
  .contact__form--submit {
    width: 20%;
    font-size: 30px;
  }
  .contact__email, .contact__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__email--email, .contact__phone--number {
    padding-top: 30px;
    padding-left: 2%;
  }
}

@media only screen and (min-width: 1440px) {
  .contact {
    height: 70vh;
  }
  .contact__form {
    width: 60%;
  }
  .contact__form--emailinput, .contact__form--nameinput, .contact__form--subjectinput {
    height: 50px;
    text-align: start;
  }
  .contact__form--bodyinput {
    height: 150px;
    text-align: start;
  }
  .contact__email--logo, .contact__phone--logo {
    width: 120px;
    height: 120px;
  }
  .contact__email--email, .contact__phone--number {
    font-size: 20px;
  }
}

.footer {
  background-color: black;
  font-family: "jost-b";
  color: #f7e9e9;
  text-align: center;
  height: 12vh;
  font-size: 1.5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #f8f8f8;
}

.space {
  height: 10vh;
}
/*# sourceMappingURL=index.css.map */