.about {
  background-color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: $offwhite;
  &__content {
    text-align: center;
    padding-top: 20px;
  }
  &__content--mission {
    font-family: "biorhyme-extrabold";
    text-decoration: underline;
    font-size: 2rem;
  }
  &__content--missiontext {
    font-family: "biorhyme-bold";
    font-size: 1rem;
    padding: 10px 8%;
    height: auto;
  }
  &__downloads {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0 20px;
  }
  &__valuetitle {
    text-align: center;
    padding: 20px 0 0;
    font-family: "biorhyme-extrabold";
    text-decoration: underline;
    font-size: 20px;
  }
  &__values {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 10%;
  }
  &__values--1,
  &__values--2 {
    text-align: center;
    width: 50%;
  }
  &__values--section {
    width: 80%;
    margin-right: 0 !important;
  }
  &__values--icon {
    height: 50px;
    width: 50px;
  }
  &__values--value {
    text-align: center;
    font-family: "biorhyme";
    padding-bottom: 30px;
  }
  &__values--details {
    font-size: 10px;
  }
}

@include tablet {
  .about {
    height: 100vh;
    padding-top: 10px;
    &__content {
      padding: 40px 5% 20px;
    }
    &__content--mission {
      font-size: 40px;
    }
    &__content--missiontext {
      font-size: 20px;
      height: auto;
    }
    &__coverletter,
    &__resume {
      width: 25vw;
      height: 7vh;
    }
    &__coverletter--text,
    &__resume--text {
      font-family: "biorhyme-bold";
      font-size: 20px;
    }
    &__valuetitle {
      font-size: 20px;
      padding-bottom: 20px;
    }
    &__values {
      flex-direction: row;
      justify-content: space-evenly;
      padding-bottom: 0;
    }
    &__values--1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &__values--2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &__values--icon {
      height: 80px;
      width: 80px;
    }
  }
}

@include desktop {
  .about {
    &__content {
      padding: 30px 5%;
    }
    &__content--mission {
      font-size: 50px;
      padding-bottom: 20px;
    }
    &__content--missiontext {
      font-size: 30px;
    }
    &__valuetitle {
      font-size: 40px;
    }
    &__values--icon {
      height: 140px;
      width: 140px;
    }
    &__values--value {
      font-size: 30px;
    }
  }
}
