.contact {
  height: 80vh;
  text-align: center;
  align-items: center;
  color: $offwhite;
  &__title {
    color: black;
    font-family: "jost-b";
    font-size: 32px;
    padding-bottom: 5vh;
  }
  &__container {
    display: flex;
    flex-direction: column;
    font-family: "biorhyme-bold";
  }
  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__form--emailinput,
  &__form--nameinput,
  &__form--subjectinput {
    margin-bottom: 10px;
  }
  &__divider {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-evenly;
  }
  &__email--logo,
  &__phone--logo {
    width: 80px;
    height: 80px;
  }
  &__form--bodyinput {
    height: 100px;
  }
}

@include tablet {
  .contact {
    &__container {
      flex-direction: column;
    }
    &__divider {
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__form {
      width: 70%;
      align-self: center;
    }
    &__form--emailinput,
    &__form--nameinput,
    &__form--subjectinput,
    &__form--bodyinput {
      width: 70%;
    }
  }
}

@include desktop {
  .contact {
    &__form {
      width: 60%;
    }
    &__form--emailinput,
    &__form--nameinput,
    &__form--subjectinput {
      height: 50px;
      text-align: start;
    }
    &__form--bodyinput {
      height: 150px;
      text-align: start;
    }
    &__email--logo,
    &__phone--logo {
      width: 120px;
      height: 120px;
    }
    &__email--email,
    &__phone--number {
      font-size: 20px;
    }
  }
}
