.intro {
  font-family: "firacode";
  background-color: black;
  height: 100vh;
  font-size: 19px;
  color: white;
  &__context {
    padding: 80px 25% 0;
    display: flex;
    flex-direction: column;
  }
  &__context--title {
    margin: 14px 0;
    font-size: 16px;
  }
  &__context--content {
    font-style: oblique;
    font-weight: bolder;
    color: rgb(237, 184, 121);
    height: 6vh;
    margin-bottom: 25px;
  }
  &__toprojects {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 5%;
  }
  &__toprojects--arrow {
    height: 50px;
    width: 20px;
    margin-top: 18px;
    margin-right: 10%;
    transform: rotate(180deg);
  }
  &__toprojects--text {
    text-decoration: none;
    font-size: 10px;
    margin-left: 1px;
    color: white;
    transform: rotateZ(-90deg);
  }
  &__toprojects--img {
    border-radius: 50%;
    width: 25vw;
  }
  &__img {
    display: none;
    border-radius: 50%;
    width: 20vw;
  }
}

@include tablet {
  .intro {
    display: flex;
    flex-direction: row;
    padding: 0;

    &__context {
      padding: 70px 0 0 8%;
      font-size: 25px;
      width: 55%;
    }
    &__context--title {
      font-size: 18px;
      padding: 3vh 0;
    }
    &__context--content {
      width: 80%;
      height: 8vh;
    }
    &__toprojects--arrow {
      height: 100px;
      width: 50px;
      margin-right: 5%;
    }
    &__toprojects--text {
      margin-left: 1px;
      font-size: 18px;
    }
    &__toprojects--img {
      display: none;
    }
    &__img {
      display: inline;
      object-fit: cover;
      height: 100vh;
      width: 45%;
      border-radius: 0;
    }
  }
}

@include desktop {
  .intro {
    &__context {
      font-size: 40px;
    }
    &__context--title {
      font-size: 30px;
    }
    &__img {
      height: 93vh;
    }
    &__toprojects--arrow {
      height: 200px;
      width: 100px;
      margin-right: 5%;
    }
    &__toprojects--text {
      font-size: 30px;
    }
  }
}
