.intro {
  font-family: "firacode";
  background-color: black;
  height: 100vh;
  font-size: 19px;
  color: white;
  &__context {
    padding: 80px 25% 0;
    display: flex;
    flex-direction: column;
  }
  &__context--title {
    margin: 14px 0;
    font-size: 16px;
  }
  &__context--content {
    font-style: oblique;
    font-weight: bolder;
    color: rgb(237, 184, 121);
    height: 6vh;
    margin-bottom: 25px;
  }
  &__toprojects {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    text-align: center;
    margin-left: 20%;
    cursor: pointer;
  }
  &__toprojectscontainer {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  &__toprojects--arrow {
    height: 30px;
    width: 20px;
    margin-top: 18px;
    margin-left: 16px;
    transform: rotate(180deg);
  }

  &__toprojects--text {
    text-decoration: none;
    font-size: 10px;
    margin-left: 1px;
    color: white;
    transform: rotateZ(-90deg);
  }

  &__toprojects--img {
    border-radius: 50%;
    width: 25vw;
  }
  &__img {
    display: none;
    border-radius: 50%;
    width: 20vw;
  }
}

@include tablet {
  .intro {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;

    &__context {
      padding: 200px 0 0 8%;
      font-size: 25px;
      width: 70%;
    }
    &__context--title {
      font-size: 1rem;
    }
    &__context--content {
      width: 80%;
      height: 8vh;
      font-size: 1.8rem;
    }
    &__toprojects {
      padding-top: 40vh;
      margin: 0;
    }
    &__toprojectscontainer {
      margin: 0;
    }
    &__toprojects--arrow {
      height: 60px;
      width: 40px;
      margin: 0;
      padding-bottom: 30px;
      margin-left: 27px;
      margin-top: 5px;
    }
    &__toprojects--text {
      margin-left: 1px;
      font-size: 18px;
    }
    &__toprojects--img {
      display: none;
    }
    &__img {
      display: inline;
      object-fit: cover;
      height: 100vh;
      width: 45%;
      border-radius: 0;
    }
  }
}

@include desktop {
  .intro {
    &__context {
      padding-top: 300px;
    }
    &__context--title {
      font-size: 2rem;
    }
    &__context--content {
      font-size: 2.8rem;
    }
    &__img {
      height: 100vh;
    }
    &__toprojects--arrow {
      height: 130px;
      width: 100px;
      margin-right: 5%;
      margin-top: 30px;
    }
    &__toprojects--text {
      font-size: 30px;
    }
  }
}
